/* Обнуленние */
*,
*::before,
*::after  {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #2C2C2C;;
}
ul,
ol,
li {
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
    font-size: 18px;
    line-height: 26px;
    color: #000;
    /* max-width: 1920px; */
    font-family: Noto Serif;
    font-style: normal;
    font-weight: normal;
}
img{
    max-width: 100%;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
}
._container{
    max-width: 1720px;
    padding: 0 20px;
    margin: 0 auto;
}
/* @media (max-width:1720px) {
    ._container{max-width: 1366px;
    padding: 0 20px;}
} */
/* @media (max-width:1366px) {
    ._container{max-width: 1024px;}
    .main__backgound{ background-size: contain;}
} */
/* @media (max-width:1024px) {
    ._container{max-width: none}
    .main__info{padding-left: 20px;}
} */
header{
    height: 120px;
}
.header__sections{
    height: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__links__flex{
    max-width: 433px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.header__link_item:not(:last-child){
    margin-right: 70px;
}
.header__acc{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.header__acc__text{
    margin-right: 20px;
}
.header__acc__search{
    padding-left: 15px;
    border-left: 1px solid #F1E0DD;;
}
.header__acc::before{
    content: "";
    width: 18.64px;
    height: 20px;
    background-image: url(../img/user.png);
    margin-right: 10px;
}
.main__backgound{
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-position-x: center;
}
.main__info{
    padding: 285px 135px 381px;
}
.main__title{
    font-weight: bold;
    font-size: 84px;
    line-height: 112px;
}
.main__button{
    max-width: 200px;
    padding: 18px 36px;
    background: #FF715B;
    color: #fff;
    margin-top: 50px;
}
.range{
    margin-top: 30px;
}
.button__range{
    width: 47px;
    height: 47px;
    cursor: pointer;
    font-size: 20px;
}
.button1{
    background-color: #FF715B;
    color: #FFF;
    margin-right: 20px;
}
.button2{
    background-color: #FFF;
    color: #FF715B;
    margin-right: 30px;
    border: 1px solid #F5EBE9;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 234px;
    padding-bottom: 5px;
}
    input[type=range]:focus {
    outline: none;
}
    input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #F5EBE9;
}
    input[type=range]::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 3px;
    background: #FF715B;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
    margin-bottom: -7.5px;
    border-radius: 50%;
}
    input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FF715B;
    }
.section__choice{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0px 10px 30px 5px rgba(219, 200, 197, 0.2);
}
.choice{
    float: left;
}
 .section__choice{
    margin-left: 495px;
    margin-top: -77px;
}
.choice__discover{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #FFF;
    padding: 45px;
} 
.titles__discover{
    display: flex;
    flex-direction: column;
}
.titles__discover{
    font-size: 16px;
    line-height: 19px;
    color: #A79997;
}
.destination{
    width: 240px;
    font-family: Noto Serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FF715B;
    border-bottom: 1px solid #F5EBE9;
    padding: 10px 0;
}
.destination__input_text{
    font-family: Noto Serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FF715B;
    padding: 0px 55px 0px 0px;
}
::placeholder {
    font-family: Noto Serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FF715B;
  }
.block__description__links{
    margin-top: 180px;
}
.links__row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.links__row__item{
    width: 326px;
    height: 326px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F8F8F8;
    /* padding: 30px 36px 60px 40px; */
}
.links__row__item{
    margin-right: 30px;
    margin-bottom: 30px;
}
.description__title{
    margin-top: 24px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}
.description__subtitle{
    margin-top: 20px;
    font-size: 18px;
    line-height: 26px;
    color: #A79997;
    text-align: center;
}
.description__title_spec{
    margin-top: 10px;
}
.links__row__item:active{
    background: #FFFFFF;
    box-shadow: 0px 10px 30px 5px rgba(219, 200, 197, 0.2);
}
.links__row__item:hover{
    box-shadow: 0px 10px 30px 5px rgba(219, 200, 197, 0.2);
    transition-duration: 0.4s;
}

.top__destinat__back{
    position: relative;
    margin-top: 150px;
}
.top__background{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 789px;
    height: 100%;
    background: #F7F7F7;
    z-index: 1;
}
.section__top__dest{
    position: relative;
    padding: 90px 0 90px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 3;
}
.top__destinat__text{
    padding-top: 20px;
}
h2{
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
}
.top__destinat__item{
    margin-left: 76px;
    display: flex;
    align-items: center;
}
.top__destinat__link{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 3;
}
.top__destinat__pic:not(:last-child){
    margin-right: 30px;
}
.img__top{ 
    display: block;
    max-width: 100%;
    height: auto;
}
.top__destinat__pic{
    margin-bottom: 20px;
}





















@media (max-width:1720px) {
    ._container{padding: 0 20px;}
    .section__choice{
        margin-left: 0px;}
    .choice__discover{padding: 45px 30px;}
    .top__subtitle{max-width: 320px;}
    .top__destinat__item{
        margin-left: 16px;}
}
@media (max-width:1366px) {
    /* ._container{max-width: 1024px;} */
    .main__backgound{ background-size: cover;}
}
@media (max-width:1024px) {
    /* ._container{max-width: none} */
    .main__info{padding: 70px 40px 200px;}
    .main__title{font-size: 56px;
    line-height: 60px;}
    .main__backgound{ background-size: cover;}
    .choice{float: none;margin-bottom: 77px;}
    .top__destinat__link{flex-wrap: wrap;}
    h2{font-size: 38px;}
}
@media (max-width:500px) {
    /* ._container{max-width: 1024px;} */
    .main__backgound{ background-size: cover;}
    .main__title{font-size: 36px;
    line-height: 40px;}
    header{height:200px}
    .links__row__item{
        margin-right: 0px;}
    .section__top__dest{flex-wrap: wrap;}
    .top__destinat__item{margin-top: 80px;}
}